.gutter-10 .col-md-12 {
    text-align: center; 
    font-size: 14px; 
    letter-spacing: 1px;
}

.gutter-10 .col-md-12 a {
    /*    border-bottom: 1px solid black;*/
    /*    padding-bottom: 2.5px; */
}

#about {
    margin-bottom: 20px; 
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: center; 
}

#capabilities {
    letter-spacing: 1px; 
    text-align: center; 
}

#em {
    font-style: italic;  
}